<!-- Welcome Messge -->
<div class="container text-center mt-5">
  <img class="img-responsive logo" src="./assets/img/logo.png"/>
  <h3 class="mt-4 text-muted">Tax-E Company Management</h3>
</div>

<!-- Login Form -->
<div class="container">
  <div class="card card-login mx-auto mt-5">
    <div class="card-header text-white text-center bg-primary">Admin Login</div>
    <div class="card-body">
      <form action="" method="POST" autocomplete="off">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa fa-user text-muted"></i></span>
          </div>
          <input id="email" type="email" class="form-control" name="email" placeholder="Email" value="">
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa fa-lock text-muted"></i></span>
          </div>
          <input id="password" type="password" class="form-control" name="password" placeholder="Password" value="">
        </div>
        <button class="btn btn-primary btn-block text-white" type="submit">Login</button>
      </form>
    </div>
  </div>
</div>

<!-- Footnote -->
<div class="container footnote mt-1 mx-auto text-muted">
  <div class="row">
    <div class="col text-left">&copy; Rhys Evans 2019</div>
    <div class="col text-right">Version: 0.1</div>
  </div>
</div>
