<!--
   - active-bookings.component.html
   -
   - The main html layout for the active bookings page
   -

   - @author Rhys Evans
   - @version 0.1
-->

<div class="main-content">
  <div class="container-fluid">
    <!-- Active Bookings Table -->
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-primary">
            <h4>Active Bookings</h4>
            <p class="card-category">All ongoing bookings claimed by your company.</p>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class="text-primary">
                <th>Pickup Location</th>
                <th>Destination</th>
                <th>Time</th>
                <th>No. Passengers</th>
                <th>Driver</th>
                <th>Status</th>
                <th><!-- Release Button --></th>
                </thead>
                <tbody>
                <tr *ngFor="let booking of bookings">
                  <td>{{booking.pickup_location}}</td>
                  <td>{{booking.destination}}</td>
                  <td>{{booking.time | date: 'HH:mm'}}</td>
                  <td>{{booking.no_passengers}}</td>
                  <!-- Driver Select -->
                  <td>
                    <div class="dropdown">
                      <button href="#" class="btn dropdown-toggle btn-sm btn-primary" data-toggle="dropdown" aria-expanded="true">
                        {{getDriverName(booking.driver)}}
                        <b class="caret"></b>
                      </button>
                      <ul class="dropdown-menu">
                        <li *ngFor="let driver of drivers">
                          <a (click)="editBookingDriver(booking._id, driver._id)">{{driver.name}}</a>
                        </li>
                      </ul>
                    </div>
                  </td>
                  <!-- Status Select -->
                  <td>
                    <div class="dropdown">
                      <button href="#" class="btn dropdown-toggle btn-sm btn-primary" data-toggle="dropdown" aria-expanded="true">
                        {{booking.status}}
                        <b class="caret"></b>
                      </button>
                      <ul class="dropdown-menu">
                        <li><a (click)="editBookingStatus(booking._id, 'In_Progress')">In Progress</a></li>
                        <li><a (click)="editBookingStatus(booking._id, 'Arrived')">Arrived</a></li>
                        <li><a (click)="editBookingStatus(booking._id, 'Finished')">Finished</a></li>
                        <li><a (click)="editBookingStatus(booking._id, 'Cancelled')">Cancelled</a></li>
                      </ul>
                    </div>
                  </td>
                  <td>
                    <button mat-raised-button type="submit" class="btn btn-danger btn-sm" (click)="releaseBooking(booking._id)">Release</button>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
